<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PdfMakerWcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="RemoteOnly"></customErrors>
  </system.web>  
  
  <system.serviceModel>

    <services>
      <service name="PdfMakerWcfService.PdfMaker">
        <endpoint
          address=""
          binding="webHttpBinding"
          contract="PdfMakerWcfService.IPdfMaker"
          behaviorConfiguration="webby"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <applicationSettings>
    <PdfMakerWcfService.Properties.Settings>
      <setting name="PdfHtmlToPdfExePath" serializeAs="String">
        <value>C:\\Program Files\\wkhtmltopdf\\wkhtmltopdf.exe</value>
      </setting>
      <setting name="GeneratedPdfsLocation" serializeAs="String">
        <value>/GeneratedPdfs/</value>
      </setting>
      <setting name="GeneratedPdfPrefix" serializeAs="String">
        <value>GeneratedPdf</value>
      </setting>
    </PdfMakerWcfService.Properties.Settings>
  </applicationSettings>
</configuration>
